.App {
  text-align: center;
  background-color: #282c34;
  /* padding: 5rem 0; */
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.proxima-reguler {
  font-family: proxima-reguler;
}
.proxima-bold {
  font-family: proxima-bold;
}

.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-24 {
  font-size: 24px;
}
.font-26 {
  font-size: 26px;
}
.font-36 {
  font-size: 36px;
}

.color-bb{
  color: #bbbbbb;
}
.color-cc {
  color: #cccccc !important;
}
.color-42 {
  color: #424242;
}
.bg-ee {
  background-color: #eeeeee !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
